// Brand colors
$color-brand-primary-darkest: #002A52;
$color-brand-primary-dark: #003F7A;
$color-brand-primary-medium: #0056A4;
$color-brand-primary-light: #0069CC;
$color-brand-primary-lightest: #007EF5;

$color-brand-secondary-darkest: #B88714;
$color-brand-secondary-dark: #DCA218;
$color-brand-secondary-medium: #E8B235;
$color-brand-secondary-light: #EDC15A;
$color-brand-secondary-lightest: #F1CE7E;


// Neutral colors
$color-neutral-darkest: #111111;
$color-neutral-dark: #525252;
$color-neutral-medium: #919191;
$color-neutral-light: #D1D1D1;
$color-neutral-lightest: #FFFFFF;

// Feedback colors
$color-feedback-danger-dark: #871E1E;
$color-feedback-danger-medium: #D32F2F;
$color-feedback-danger-light: #FDECEA;

$color-feedback-success-dark: #35521D;
$color-feedback-success-medium: #689F38;
$color-feedback-success-light: #EDF7ED;

$color-feedback-warning-dark: #663C1B;
$color-feedback-warning-medium: #E86E17;
$color-feedback-warning-light: #FFF4E5;

$color-feedback-info-dark: #003166;
$color-feedback-info-medium: #004FA3;
$color-feedback-info-light: #EBF4FF;
