<div class="row">
  <div class="col-lg-12" style="padding-bottom: 10px;">
      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{titulo}}
              </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <ng-content></ng-content>

              </div>
          </div>
      </div>
  </div>
</div>