    .logo-img
    {
        
        height: auto;
        //margin: 0;
        //position: absolute;
        //bottom: 0;

        // sem animacao
        width: 120px;
        margin-top: -12px;
        //margin-left: -60px;

    }