@import "assets/templates/tokens/tokens";

@import "assets/templates/styles/abstracts/abstract";

.ui-progressbar {
  &.ui-progressbar-determinate {
    .ui-progressbar-value {
      border: 0 none;
      background: #8ec5fc;
    }

    .ui-progressbar .ui-progressbar-label {
      color: #222222;
    }
  }

  &.ui-progressbar-indeterminate {
    background: $p360selectioncolor;

    .ui-progressbar-value {
      border: 0 none;
      background-color: $stateHighlightBgColor;
    }
  }
}
