<ge-titulo titulo="Usuario Incluir" [migalhas]="[{'nome': 'Consulta', 'url': 'usuario'}, {'nome': 'Incluir', 'url': 'procedimento/incluir'}]"></ge-titulo>


<ge-accordion titulo="Geral">
    <div class="row">
        <div class="col-lg-6 col-xm-12" style="padding-bottom: 10px;">

            <ge-inputtext
                identificador="id"
                nome="Id"
                [obrigatorio]="true"
                [tamanho]="5"
                [desabilitar]="false"
                [(valor)]="usuario.id">
            </ge-inputtext>
            
        </div>

        <div class="col-lg-6 col-xm-12" style="padding-bottom: 10px;">

            <ge-inputtext
                identificador="nome"
                nome="Nome"
                [obrigatorio]="true"
                [tamanho]="6"
                [desabilitar]="false"
                [(valor)]="usuario.nome">
            </ge-inputtext>

        </div>
    </div>
</ge-accordion>

<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px;">
        <button
            class="btn btn-primary"
            style="margin-right: 8px;"
            type="button"
            (click)="voltar()" > 
            Voltar 
        </button>

        <button
            class="btn btn-primary"
            type="button"
            (click)="salvar()" > 
            Salvar 
        </button>
    </div>
</div>


